body {
    background-color: #1e1e1eff;
}

* {
    font-family: roboto;
}
.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1304px;
    height: 550px;
    justify-content: center;
}

.logo {
    display: flex;
    width: 600px;
    height: 150px;
}
.logo img {
    width: 150px;
    height: 150px;
    position: relative;
    right: 20px;
}

.logo img:hover {
    width: 155px;
    height: 155px;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 600px;
    height: 150px;
}

nav a {
    color: #a19e9e;
    text-decoration: none;
    font-size: 15px;
    margin-left: 20px;
}

nav a:hover {
    font-size: 17px;
    color: greenyellow
}

.indukcontent {
    display: flex;
    flex-direction: row;
    align-items: self-start;
    justify-content: center;
    width: 400px;
    height: 100px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: 400px;
}

.t {
    display: flex;
    justify-content: center;
    align-self:self-start;
    width: 600px;
    height: 85px;
}

.induksaya {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 400px;
    height: 300px;

}

h1 {
    color: #d9d9d9;
    font-size: 100px;
    font-weight: bold;
    position: relative;
    bottom: 50px;
}

.color {
    color: greenyellow;
}

.ft {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    height: 50px;
    background-color: #d9d9d9;
}

.Appsatu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    width: 600px;
    height: 50px;
    gap: 10px;
}

.Appdua {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    width: 600px;
    height: 50px;
    gap: 10px;
}

.aaaaa {
    font-size: 17px;
    color: #1e1e1e;
}

.kontak {
    color: greenyellow;
    font-size: 17px;
}

.y {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height:360px;
    border-radius: 20px;
    background-color: #3b3b3b;
}

label {
    display: flex;
    font-size: 20px;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    color: #d9d9d9;
    width: 350px;
    height: 30px;
}

.input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
textarea {
    height: 80px;
    width: 350px;
    border-radius: 7px ;
    background-color: #494949;
}

textarea:focus {
    background-color: #d9d9d9;
    color: #1e1e1e;
}

.inputt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 350px;
    height: 30px;
    border-radius: 7px;
    background-color: #494949;
}

.inputt:focus {
    background-color: #d9d9d9;
    color: #1e1e1e;
}

.btnn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 7px;
    height: 40px;
    width: 200px;
    background-color: greenyellow;
    font-size: 20px;
    color: #1e1e1e;
}

 .n {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:self-end;
    width: 350px;
    height: 70px;
}

.btnn:hover {
    border-radius: 10px;
    height: 43px;
    width: 203px;
    background-color: greenyellow;
    font-size: 23px;
    color: #1e1e1e;
}
.btnnn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.otpt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 200px;
    justify-content: center;
    color: #1e1e1e;
    text-align: center;
}

.output {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}

#out {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: opacity 0.6s ease;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    height: auto;
    background-color: greenyellow;
}