body {
    background-color: #1e1e1e;
}
div > p {
    color: blueviolet;
}
.link:hover {
    border: 2px solid black;
    background-color: aqua;
    font-family: roboto;
    color: azure;
}
.box:active {
    border: 2px solid black;
    background-color: black;
    font-weight: bold;
    color: white;
    display: block;
}
.porto {
    display: flex;
    justify-content: center;
    margin: 100px;
}
#fortofolio {
    text-align: center;
}
.container2 {
    display: flex;
    justify-content: center;

}
.item2 {
    flex-grow: 1;
}
.navigasi {
    text-decoration: none;
}
#judul {
    color: greenyellow;
    text-align: center;
    font-family: montserrat;
    font-weight: bold;
    font-size: 64px
}
#teksperkenalan {
    color: #d9d9d9;
    text-align: center;
    font-family: roboto;
}
.container1 {
    display:flex;
    padding: 100px;
    justify-content: center;
}
.container3 {
    display: flex;
    justify-content: center;
}
.logo {
    position: relative;
    margin: 50px;
}
div [id="logo"] {
    border: 2px solid #d9d9d9;
    width: 500px;
    height: 500px;
}