
body {
    background-color: #1e1e1eff;
}

* {
    font-family: roboto;
}
.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1304px;
    height: 550px;
    justify-content: center;
}

.logo {
    display: flex;
    width: 600px;
    height: 150px;
}
.logo img {
    width: 150px;
    height: 150px;
    position: relative;
    right: 20px;
}

.logo img:hover {
    width: 155px;
    height: 155px;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 600px;
    height: 150px;
}

nav a {
    color: #a19e9e;
    text-decoration: none;
    font-size: 15px;
    margin-left: 20px;
}

nav a:hover {
    font-size: 17px;
    color: greenyellow
}

.indukcontent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1304px;
    height: 200px
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: self-start;
    justify-content: center;
    width: 700px;
    height: 200px;
}

h1 {
    color: #d9d9d9;
    font-size: 80px;
    font-weight: bold;
    position: relative;
    bottom: 50px;
}

.t {
    display: block;
    text-align: center;
    width: 800px;
    height: 90px;
}

.p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:self-start;
    width: 1304px;
    height: 50px;
}

#p {
    color: #d9d9d9;
    opacity: 50%;
}

.color {
    color: greenyellow;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    border-radius: 7px;
    color: #1e1e1eff;
    text-decoration: none;
    font-weight: bold;
    background-color: greenyellow;
}

.btn:hover {
    background-color: rgb(198, 252, 118);
    border-radius: 7px;
    border: 2px solid rgb(198, 252, 118);
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.ft {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    height: 50px;
    background-color: #d9d9d9;
}

.Appsatu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    width: 600px;
    height: 50px;
    gap: 10px;
}

.Appdua {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    width: 600px;
    height: 50px;
    gap: 10px;
}

.aaaaa {
    font-size: 17px;
    color: #1e1e1e;
}

.home {
    color: greenyellow;
    font-size: 17px
}

.isi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 1304px;
    height: 555px;
}
.container2 {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    height: 555px;
    width: 1200px;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
section div img {
    height: 200px;
    width: 200px;
}
.llggoo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    width: 230px;
    height: 230px;
    background-color: #d9d9d9;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.bag1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    width: 1200px;
    height: 90px;
    align-items: center;
    justify-content: center;
    color: #1e1e1e;
    border-radius: 20px;
}
.box:hover {
    background-color: white;
    transition: 10;
    padding: 3px;
}